 /*PAGE ATORES*/

/*Header dos atores*/
.header_atores {
    /*background-image: url(../imagens/luzes.jpg);*/
    background-image: url(../imagens/stage-light-with-red-background2.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 0;
    border-radius: 5px;


}

/*Título: Atores*/
.atores_título{
    color: yellow;
    /*color: var(--cor_amarelo_claro);*/
    font-size: 6rem;
    margin-top: 6rem;

}

/*Section dos atores*/
.section_atores {
    /*margin: 2rem;*/
    /*padding: .5rem;*/

    /*max-width: auto;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;

    width: 100%;
    /*margin: 1rem auto;*/
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    

}


/*Classe geral pra figure*/
.figure_atores {
    /*pra img não estourar a margin que defini no grid*/
    /*overflow: hidden; /*não deixa a img ultrapassar a borda e não ficar distorcida*/

}

/*Classe pra img da page atores*/
.img_ator {
    width: 12.5rem;
    height: 18.75rem;
    border: 1px solid var(--cor_amarelo_claro);
    border-radius: 25px;
    cursor: pointer;

    /*object-fit é pra especificar como um <img> ou <video> deve ser redimensionado para caber em seu contêiner*/
    /*Essa propriedade informa ao conteúdo pra preencher o contêiner de diversas maneira; como "preservar essa proporção" ou "esticar e ocupar o máximo de espaço possível*/
    object-fit: cover;

}

.img_ator:hover {
    transform: scale(1.1);
    
}


/*Cada ator*/

/*Cha Eun-woo */
/*.at_eunwoo {
    grid-column: 1 / sapn 4;
    grid-row: 1 / span 5;
}

/*Zhao Lusi*/
/*.at_zhao {
    grid-column: 5 / span 4;
    grid-row: 1 / span 5;

}

/*Nicolas Cage*/
/*.at_cage {
    grid-column: 8 / span 4; 
    grid-row: 1 /  span 5; 

}

/*Kim Tae-ri*/
/*.at_kim {
    grid-column: 11 / span 4;
    grid-row: 1 / span 5;

}

/*Mark Wahlberg*/
/*.at_mark {
    grid-column: 3 / sapn 4;
    grid-row: 6 / span 5;

}*/





