
.container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

    padding: 2px 16px;
    border-radius: 15px;




}

.card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    box-shadow: 0 4px 8px 0 var(--cor_amarelo_claro);
    /*border-radius: 15px;*/

    transition: 0.3s;
    /*display: inline;*/
    margin: auto;
    justify-content: center;
          
}
  
.card:hover {
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
    /*box-shadow: 0 4px 8px 0 var(--cor_amarelo_claro);*/
    transform: scale(1.1) ;

    border-radius: 15px;

}
  
.card-1 {

} 

.card-2 {

}

.card-img {
    width: 500px;
    height: 350px;
    border: 1px solid var(--cor_amarelo_claro);
    border-radius: 15px;
    margin: .3rem;

}

.card-mapa {
    width: 500px;
    height: 350px;
    border: 1px solid var(--cor_amarelo_claro);
    border-radius: 15px;
    margin: .3rem;



}

/* /*RESPONSIVIDADE  telas até 1115px**/
 
@media screen and (max-width: 1115px) {
   
    .container {
        display: flex;
        flex-direction: column;
        width: 300px;
        /*justify-content: center;*/
        /*align-items: center;*/
    

    }

    
}



 /*RESPONSIVIDADE CELULAR*/

 @media screen and (max-width: 768px) {
    
    .container {
        display: flex;
        flex-direction: column;
        width: 350px;
        justify-content: center;
        align-items: center;
    

    }

   
    .card {
        /*width: 350px;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;


    }

    .card:hover {
        /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
        /*box-shadow: 0 4px 8px 0 var(--cor_amarelo_claro);*/
        transform: none;
    
    }
    

    .card-1 {
        margin-bottom: 2rem;

    }

    .card-2 {


    }

    .card-img {
        width: 350px;
        height: 250px;
        justify-content: center;
        margin: 0;

            
    }
    
    .card-mapa {
        width: 350px;
        height: 250px;  
        justify-content: center;
        margin: 0;
  
    
    }

 }