/*CSS GERAL*/


@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@900&display=swap');

:root {
    --cor_principal: brown;
    --cor_amarelo_claro: rgba(255, 255, 0, 0.781);
}

body {
    /*background-color: brown;*/
    background-color: var(--cor_principal);


}

     /*PAGE HOME*/
header {
    background-image: url(../imagens/carretel_filme_2.jpg);
    /*background-image: url(../imagens/um-carretel-que-tem-uma-lata-vermelha-que-diz-a-palavra.jpg);*/
    /*background-image: url(../imagens/header_netflix.jpg);*/
    /*background-image: url(imagens/header_netflix.jpg);*/
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 0;
    border-radius: 5px;

}

/*Logo pra cada page clicável pra Home*/
.imagem_logo {
    width: 2em;
    height: 2em;
    float: left;
    /*max-width: 5em;*/
    margin: .2em .3em;
    opacity: .7;
    /*border: 2px solid brown;*/
    border: 2px solid yellow;
    border-radius: 15px;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
    
}

.imagem_logo:hover {
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
}

/*Menu Hamburguer*/
#hamburguer {
    color: yellow;
    font-size: 2rem;
    text-align: right;
    /*display none pra quando tiver em telas maiores não aparecer o ícone do menu hamburguer*/
    display: none;
}

/**/
/*nav {
    display: flex;
}*/

.article_menu{
    /*text-align: center;*/
    display: flex;
    justify-content: center;

}

ul, li, a {
    cursor: pointer;
    /*display: inline-block;*/
    text-decoration: none; /*tirar sublinhado*/
    list-style-type: none; /*pra tirar o budgets*/
    gap: .6rem; /*espaço entre linhas */
    color: yellow;
    /*color: white;*/
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 1px;
    font-size: 1.2rem;

}


/*elemento pai*/
.menu {
    justify-content: center;
    display: flex;
    margin-top: 0;
    padding-top: 1em;



}

.menu a {
    /*border: solid 2px white;*/
    padding: .15em .5em;
    border-radius: 15px;
    margin-top: 0;
    /*margin-top: 0.2rem;*/
    /*margin-right: 1rem;*/
       

}

.menu a:hover {
    background-color: brown;
    /*background-color: red;*/
    transform: scale(1.1);
    
}

/*h1:Título e h3:subtítulo da Home e Mapas*/
    h1, h3 {
    text-align: center;
    color: yellow;
    /*color: var(--cor_amarelo_claro);*/
}

/*Título header*/
h1 {
    font-size: 6rem;
    margin-bottom: 0;
}


/*Subtítulo do header Home e Subtítulo do Mapas*/
h3 {
    font-size: 3rem;
    margin-top: .1rem;
    margin-bottom: 2rem;
    /*border: 1px solid yellow;*/

    /*pra animar o subtítulo da Home e Mapas*/
    transform: translateX(-400px); /*desliza da esquerda pra direita*/
    /*pra linkar o keyframe abaixo com a parte aqui que quero animar*/
    animation-name: slide; /*nome da animação*/
    animation-duration: 7s;/*velocidade*/
    animation-timing-function: ease; 
    animation-delay: 0;
    /*direção da animação*/
    animation-duration: normal; /*direção*/
    animation-fill-mode: forwards;
    animation-play-state: running; /*estado da animação*/
    animation-iteration-count: 1; /*quantas vezes vai ocorrer*/


}

/*animação pro subtítulo h3 da home e mapas*/
@keyframes slide {
    to {
        transform: translateX(0);
        opacity: 1;

    }
}


/*Descrição da criação do site na home*/
.descrição_site {
    font-size: 1rem;
    margin-left: 1.2rem;

}

/*Parágrafo do botão pro formulário na home*/
.parágrafo_btn_formulário {
    font-size: 1rem;
    margin-left: 1.2rem;

}


/*Botão interno para o formulário*/
.btn_formulário {
    background-color: rgba(143, 28, 28, 0.555);
    color: black;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: .7rem;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bolder;
    border: 1px solid var(--cor_amarelo_claro);


}

/*Botão chamando pra ir pro formulário*/
.btn_formulário:hover {
    background-color: yellow;
    border: 1px solid black;
    color: black;
    
    
}

/*Autora*/

/*div sobre a autora*/
.sobre_autora {
    color: black;
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-color: rgba(192, 75, 75, 0.555);

    padding-bottom: 2rem;
    padding-top: .3rem;

}

/*nome da seção*/
.autora {
    color: black;
    letter-spacing: 1px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.autora_parágafro {
    font-size: 1rem;
    margin-left: 1.2rem;


}

/*Link Meu email (a href)*/
.email {
    font-size: 1rem;
    color: var(--cor_amarelo_claro);
    text-decoration: underline;


}

/*Meu nome, meus contatos*/
span {
    /*color: yellow;*/
    color: var(--cor_amarelo_claro);
    font-weight: bold;
    font-size: 1rem;
}


/*ícones linkedin e github*/
.fa-brands, .fa-linkedin, .fa-github {
    font-size: 3rem;
    margin-left: 1.2rem;
    color: rgb(141, 33, 33);
    
}

.fa-brands:hover {
    color: yellow;
    transition: transform 0.5s; /*duração do transform*/
    transform: rotateY(360deg); /*girar no eixo Y*/

}

/*Botão Meu portfólio*/
.btn_portfólio {
    color: black;
    line-height: 1px;
    background-color: rgba(143, 28, 28, 0.555);
    font-size:  1rem;
    border: 1px solid var(--cor_amarelo_claro);
    padding: 1rem;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1.1rem;
    margin-top: 1rem;

}

.btn_portfólio:hover {
    background-color: yellow;
    color: black;
        
}


/*Créditos*/

.div_créditos {
    display: flexbox;
    flex-wrap: wrap;
    flex-basis: 40vh;
    /*background-color: rgba(143, 28, 28, 0.555);*/
    background-color: var(--cor_principal);
    margin-bottom: 2.2rem;
    padding: 1rem;
    



}

/*nome créditos*/     
.créditos {
    color: black;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: .5rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    text-decoration: underline;
    

}



/*a href de cada referência/crédito*/
.créditos_links {
    /*color: rgba(255, 255, 0, 0.781);*/
    color: var(--cor_amarelo_claro);
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: lighter; /*tirar um pouco do negrito*/
    margin: auto;
    margin-left: 8rem;
    text-decoration: underline;
  
    
}

.créditos_links:hover {
    color: black;
    text-decoration: none;


}



/*Botão pra subir a página*/

/*img seta: flaticon.com*/
#up {
	position:fixed;
	bottom: 1rem;
	right: 0px;

}

.button_seta {
    background-color: #cccccc17;
    border-radius: 20%;
    margin-bottom: 1rem;
    margin-right: .5rem;
    font-size: 1rem;

}

.button_seta:hover {
    background-color: color-mix(in srgb, red, white);
}


/*Rodapé*/

footer {
    color: black;
    /*background-color: rgba(143, 28, 28, 0.555);*/
    /*background-color: #c0bebeaf;*/
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    /*text-shadow: 2px 2px 2px black;*/
    letter-spacing: 2px; /*para distanciar as letras*/
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: bolder;
    /*line-height: 1px; /*altura da linha*/
    background-color: rgba(143, 28, 28, 0.555);
    white-space: wrap; /*pra ter quebra de linha*/


  
}


     /*PAGE INDICAÇÕES*/

/*Header das indicações*/
.indicações {
    background-image: url(../imagens/pipoca.jpg);
    /*background-image: url(../imagens/indicacoes.jpg);*/
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    

}

/*Título: Nossas indicações*/
.indicações_título {
    color: yellow;
    /*color: var(--cor_amarelo_claro);*/
    font-size: 6rem;

}

/*Nome seção filmes e seção séries*/
h4 {
    color: red;
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: .8rem;
    background-color: wheat;
    padding: 2rem;
    font-family: 'Merienda', cursive;



}

/*Título filme e série*/
h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    padding-top: 2rem;


}

h2:hover {
    transform: scale(1.1);
    /*color: yellow;*/
    color: var(--cor_amarelo_claro);
    /*color: color-mix(in srgb, red, white);*/

}

/*Bloco inteiro indicações*/
.div_indicações {
    margin-bottom: 0;

}

/*Seção pra cada de filme e série*/
.section_container {
    text-align: center;
    /*display: flex;*/
    margin-top: 8rem;
    /*margin-bottom: 10rem;*/



}

/*Div container de cada filme e série*/
.container {
    /*align-items: center;*/
    margin-bottom: 15rem;
 


}

/*Article pra título e img; e article pro parágrafo */
.article_fs {
    


}

/*Imagem de cada filme e série*/
.imagem_fs {
    width: 250px;
    float: left;
    margin-left: 10rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 2px 2px var(--cor_amarelo_claro);
    border-radius: 5px;
    /*transform: rotate(180deg);*/


    
}


.imagem_fs:hover {
    /*transform: scale(1.1);*/
    transform: translate(50px, 50px); /*imagem se movimentando no eixo X e Y*/


}

/*Parágrafo dentro do article pro nome lançamento, sinopse, elenco*/
.parágrafo_dados {
    font-weight: bold;
    text-align: left;
    margin-left: 30rem;
    margin-right: 10rem;
    text-justify: auto;
   

}

/*Parágrafo contando a sinopse e atores do filme/série*/
.parágrafo_sinopse, .parágrafo_atores {
    color: black;
    text-align: left;
    margin-left: 30rem;
    margin-right: 10rem;
    text-justify: auto;
    /*margin-bottom: 3rem;*/
    text-align: justify;
 
 
}

.parágrafo_atores{
    text-align: left;
    margin-bottom: 1rem;
}

/*Streamings*/ 
/*bloco inteiro do streaming*/
.div_streaming {
    display: flex;
    justify-content: center;
    /*background-color: rgba(143, 28, 28, 0.555);*/
    padding: 15px;

}

/*Imagem Controle remoto*/
.imagem_controle_streaming {
    width: 50px;
    height: 50px;
    /*margin-left: 2rem;*/
    /*background-color: yellow;*/
    border-radius: 20%;


}

.imagem_controle_streaming:hover {
    background-color: yellow;
    transition: transform 0.5s; /*duração do transform*/
    transform: rotateY(360deg); /*girar no eixo Y*/

}



.texto_streaming {
    color: black;
    letter-spacing: 1px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 2rem;
    font-size: 1.3rem;
    /*text-decoration: underline;*/
    /*text-align: center;*/

        
}



.btn_streaming {
    /*display: inline-block;*/
    background-color: #ccc;
    color: black;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: .7rem;
    border-radius: 15px;
    font-size: .8rem;
    font-weight: bolder;
    border: 2px solid yellow;


}

.btn_streaming:hover {
    /*background-color: yellow;*/
    background-color: var(--cor_amarelo_claro);
    transform: scale(1.1);
    border: 2px solid black;
    color: red;

}


     /*PAGE TRAILER*/

/*Header*/
.trailer {
    background-image: url(../imagens/trailer.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 0;
    border-radius: 5px;

}

/*Título Trailer no header*/
.trailer_título_header {
    color: yellow;
    margin-top: 5rem;
    font-size: 6rem;
    

}


/*nome da seção filmes e séries*/
.trailer_seção {
    color: red;
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0;
    /*margin-bottom: .8rem;*/
    background-color: rgb(248, 248, 148);
    padding: 2rem;



}

/*Bloco inteiro trailer*/
.div_trailer {
    margin-bottom: 3rem;

}

/*Seção pra cada de filme e série*/
.section_container_trailer {
    text-align: center;
    /*display: flex;*/
    margin-top: 6rem;
    /*margin-bottom: 10rem;*/



}

/*Div container de cada filme e série*/
.container_trailer {
    /*align-items: center;*/
    /*margin-bottom: 1rem;*/
 

}

/*h2 do trailer*/
.container_trailer h2 {
    font-size: 1.8rem;


}

/*h2 Título de cada filme e série*/
.trailer_nome_fs {
    text-align: center;
    margin-top: 0;
    /*margin-top: 1rem;*/
    margin-bottom: 2rem;

}

.trailer_nome_fs:hover {
    transform: scale(1.1);
    /*color: yellow;*/
    color: var(--cor_amarelo_claro);
    /*color: color-mix(in srgb, red, white);*/

}

/*Vídeos*/
iframe {
    width: 600px;
    height: 300px;
    border: 2px solid var(--cor_amarelo_claro);
    border-radius: 20px;

}

     /*PAGE MAPAS*/

/*Header das mapas*/
.mapas {
    background-image: url(../imagens/googlemaps_3.png);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 0;
    border-radius: 5px;

}

/*Título Pontos Turísticos no header*/
.mapas_título {
    color: yellow;
    font-size: 6rem;

}

/*Subtítulo header: Fotos, mapas e músicas*/
.mapas_subtítulo {
    font-size: 3rem;
    margin-top: .1rem;
    margin-bottom: 2rem;
  

}

/*h4 da seção mapas*/
.h4_mapas {
    color: red;
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: .8rem;
    background-color: wheat;
    padding: 2rem;
    font-family: 'Merienda', cursive;

}

/*Bloco inteiro*/
/*.div_mapas {
    margin-bottom: 5rem;
    

}*/

/*.section_mapas {
    /*margin: 1.5rem 1.5rem;*/
    /*display: inline-block;
    
    
}*/

/*Título do f/s em mapas*/
.h2_mapas {
    color: black;
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: .1rem;


}



.h2_mapas:hover {
    /*color: black;*/
    /*text-shadow: 2px 2px 2px yellow;*/
    /*font-size: 2.5rem;*/
    transform: scale(1.1);
    /*color: yellow;*/
    color: var(--cor_amarelo_claro);

}

/*Class pra margin top apenas pro primeiro título do filme*/
.primeiro_título_mapas {
    margin-top: 45rem;
    /*border-top: 1px solid var(--cor_amarelo_claro);*/


}

/*Descrição do ponto turístico*/
.descrição_turístico {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.1rem;
    flex-wrap: wrap; /*não quebrar a linha*/


}

/*Destacar parágrafo nome do ponto turístico*/
.destaque {
    /*color: yellow;*/
    color: var(--cor_amarelo_claro);

}

/*Article com a foto e o mapa*/
/*.article_mapas {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
   




}*/

/*Imagem de cada ponto turístico*/
/*.imagem_turística {
    width: 500px;
    height: 250px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px var(--cor_amarelo_claro);


}*/

/*Mapa do ponto turístico*/
/*.mapa_turístico {
    width: 500px;
    height: 250px;
    margin-left: 5rem;
    margin-right: 2rem;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px var(--cor_amarelo_claro);


}*/

/*.imagem_turística:hover, .mapa_turístico:hover {
    transform: scale(1.1);
    margin-top: 1rem; 
    margin-bottom: 1.5rem;

}*/

/*Cards que fiz pro mapas2.html*/
.container_mapa {
    display: flex;
    /*flex-direction: column;*/
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

    padding: 2px 16px;
    border-radius: 15px;



}

/*Card com os 2 cards: imagem e mapa*/
.card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    box-shadow: 0 4px 8px 0 var(--cor_amarelo_claro);
    /*border-radius: 15px;*/

    transition: 0.3s;
    /*display: inline;*/
    margin: auto;
    justify-content: center;
          
}
  
.card:hover {
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
    /*box-shadow: 0 4px 8px 0 var(--cor_amarelo_claro);*/
    transform: scale(1.1) ;

    border-radius: 15px;

}

/*Card com a imagem*/
.card-1 {

} 

/*Card com o mapa*/
.card-2 {

}

.card-img {
    width: 500px;
    height: 350px;
    border: 1px solid var(--cor_amarelo_claro);
    border-radius: 15px;
    margin: .3rem;

}

.card-mapa {
    width: 500px;
    height: 350px;
    border: 1px solid var(--cor_amarelo_claro);
    border-radius: 15px;
    margin: .3rem;



}

/*Áudio do f/s*/
.audio {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;


}

.audio:hover {
    transform: scale(1.1);
    
}

/*Ouça uma música do filme e entre no clima:*/ 
.audio p {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3rem;
    
}



     /*PAGE CONTATO: FORMULÁRIO*/

/*Header do Formulário*/
.header_formulario {
    background-image: url(../imagens/pergaminho4.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 0;
    border-radius: 5px;


}

/*Título formulário*/
.indicações_formulario {
    color: yellow;
    font-size: 6rem;

}

/*Falando que a page foi montada...*/
.parágrafo_contato {
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 2rem; /*distância entre uma linha*/

}

fieldset {
    /*border: none;*/
    border: 2px solid black;
    /*border: 3px solid yellow;*/
    border-radius: 20px;

}

.section_form {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 5rem;

}

/*Título: indique um f/s*/
legend {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    /*color: yellow;*/
    color: var(--cor_amarelo_claro);
    letter-spacing: .1rem;


}
/*Nome de cada campo*/
label {
    font-weight: bold;
    font-size: 1.1rem;
    /*color: yellow;*/
    color: var(--cor_amarelo_claro);
    margin-left: 1rem;
    letter-spacing: .1rem;

   

}

input {
    width: 60%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: .7rem;
    /*border: 5px;*/
    /*border-radius: 1px solid yellow;*/
    /*font-size: 1rem;*/
    flex-grow: 1;
    outline: none;
    border: 2px solid brown;
    border-radius: 5px;
    transition: transform 1s;


}

input:focus {
    outline: 2px solid var(--cor_amarelo_claro);
    transform: scale(1.1);
    margin-left: 1.2rem;


}

textarea {
    resize: none;
    margin-top: .8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 80%;
    outline: none;
    border: 2px solid brown;
    border-radius: 5px;
    transition: transform 1s;


}

textarea:focus {
    outline: 2px solid var(--cor_amarelo_claro);
    transform: scale(1.1);
    margin-left: 1.5rem;

}


.btn {
    width: 5rem;
    padding: .6rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;



}

.btn:hover {
    background-color: var(--cor_amarelo_claro);
    transform: scale(1.1); 
    border-radius: 5px ;
    color: brown;
}





















    



/*Esse trabalho foi feito por Luciene Lima*/